.title-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
}

.main {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  margin-top: 30px;
  height: 600px;
  width: 100%;
}
